body{
background-image:url('image/0b2d21ae831c9d3ba88aaa1b9e777da7.jpg');

}
/* #allfruits{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
} */
h1{
    color: red;
}
h2{
    color: azure;
}
ul{
    color: aqua;
}
#allfruits{
    list-style-type: none;
    cursor: pointer;
}
/* .fourwidecolumn{
    border: 1px solid whitesmoke;
padding: 10px;
display: none;
background-color: aqua;
width: 300px;
} */
.title{
    color: black;
    background-color:orange;
}
.family{
    color:blue
}
.fourwidecolumn{
    border: 1px solid red;
    padding: 10px;
    background-color:white;
    margin-right: 50px;
    margin-left:1000px;
    float: left;
    width: 60%;
}
.fruit-list{
    width: 30%;
}
p{
    color: antiquewhite;
}
label{
    color: blueviolet;
}
input[type="text"]{
    background-color: #f2f2f2;
    border: 1px solid#ccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    padding: 5px;
    margin: 5px;
}

